.producto{
    background-color:  rgb(228, 220, 220);
}
.item-detail-description{
    font-size: 20px;
    color:#bdb1a6;
    font-family: 'Quicksand', sans-serif;
}

.detail-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid #bdb1a6 ;
    border-radius: 18%;
    overflow: hidden;
    background-color: white;
 }

 .item-detail-nombre{
    font-size: 25px;
    color:#bdb1a6;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

.item-detail-price{
    color: black;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

.carrito_button{
    background-color: #bdb1a6;
    color:rgb(228,220,220);
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid #bdb1a6 ;
    border-radius: 7%;
    overflow: hidden;
}

.carrito_button:hover{
    transition: 0.2s all ease;
    background-color: #bdb1a6;
    color:rgb(228,220,220);
}