.nav-header{
    color: rgb(228, 220, 220);
    font-family: 'Quicksand', sans-serif;
    background-color: #bdb1a6;
    border-bottom: black
}
.nav-logo{
    font-size: 50px;
    text-decoration: none;
    color: rgb(228, 220, 220);
}
.nav-logo:hover {
    color: rgb(228, 220, 220);
    transition: 0.5s;
}

.nav-link{
    font-weight: lighter;
    font-size: 20px;
    color: rgb(228, 220, 220);
}

.nav-link:hover {
    color: white;
    transition: 0.5s;
}
