.social-icon{
    font-size: 25px;
}

.social-container{
    color: #bdb1a6;
    font-size: 20px;
}

.text_logo{
    font-family: 'Quicksand', sans-serif;
    color: #bdb1a6;
    font-weight: bolder;
    font-size: 100px;
}